

/* ------------------------------------Start of Home Page-------------------------------------------------- */
body.class-for-home{
	background-image: url(./images/1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}

ul.navbar{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}

ul.navbar li{
	display: inline-block;
}

ul.navbar li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	margin: 10px;
}

ul.navbar li a:hover{
	background-color: #fff;
	color: #000;
}


.logo img{
	float: left;
	width: 150px;
	height: auto;
	margin-top: 25px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -30%);
	width: 100%;
}

.title h1 {
	color: #fff;
	text-transform: uppercase;
	display: block;
}

.text1{
	font-size: 100px;
	font-weight: 100px;
	letter-spacing: 8px;
	position: relative;
	animation: text 3s 1;
}

.text2{
	font-size: 100px;
	color: #fff;
}

@keyframes text{
		0%{
			color: transparent;

		}
		30%{
			letter-spacing: 25px;
		}
		85%{
			letter-spacing: 8px;
		}
	}

section.time{
	padding: 100px 800px;
	align-items: center;
	display: flex;
	
}

.box{
	position: relative;	
	max-width: 600px;
	padding: 50px;
	background: rgba(255,255,255,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.box h2{
	text-transform: uppercase;
	margin: 0 0 20px;
	padding: 0;
	font-size: 48px;
	color: black;
}

.box p{
	margin: 0;
	padding: 0;
	font-size: 18px;

}
/* ------------------------------------End of Home Page-------------------------------------------------- */




/* ------------------------------------Start of About Us------------------------------------------------ */
body.class-for-about{
	background-image: url(./images/2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}
/* --------------------------------------End of About Us------------------------------------------------ */




/* ------------------------------------Start of Gallery------------------------------------------------ */
body.class-for-gallery{
	background-image: url(./Gallery/71afa8c9c55bb9e374ccbfa0c342597e.jpg); 
	height: 100vh;
	background-size: cover;
	background-position: center;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



/* ------------------------------------End of Gallery------------------------------------------------ */




/* ------------------------------------Start of Menu------------------------------------------------ */
body.class-for-menu{
	background-image: url(./images/2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;


}
/* ------------------------------------End of Menu------------------------------------------------ */




/* ------------------------------------Start of Contact------------------------------------------------ */
body.class-for-contact{
	margin: 0;
	padding: 0;
	text-align:center;
	background: url(./images/1.jpg);
	background-size: cover;
	font-family: century gothic;
	height:100vh;
}
.contact-form{
  width: 85%;
  max-width: 600px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  
}

.contact-form h1{
  margin-top:0;
  font-weight: 200;
}

.txtb{
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb input, .txtb textarea{
  width:100%;
  border:none;
  background: none;
  outline:none;
  font-size: 18px;
  margin-top: 6px

} 

.btn{
  display: inline-block;
  background: #9b59b6;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}
.yes{
  max-width: 600px;
  margin:auto;
  padding: 0 10px;
  overflow: hidden;
}
/* ------------------------------------End of Contact------------------------------------------------ */
